/* Here we set the font for our page to be Raleway, with a backup of serif if it fails to load */
*{
    font-family: Raleway, serif;
}

/* We are giving out flex-grid class so we can house flex boxes inside them. */
.flex-grid {
    display: flex;
}

/* Here we are formating the flex boxes, 1 is for the search and history items and 2 is for the weather data. */
.flex-box1{
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    max-width: 30%;
}

.flex-box2{
    flex: auto;
    margin-left: 50px;
}

/* Here we set the styling for our header being the Weather Dashboard title. */
header h1{
    color: white;
    background-image: linear-gradient(90deg, #00d4ff 0%, #090979 75%, #020024 100%);
    text-align: center;
    margin-bottom: 20px;
}

/* here we set our styles for our first flex box items */
#cityNameInput {
    margin-bottom: 15px;
}

#citySearch {
    margin-bottom: 10px;
}

#searchHistory {
    margin-top: 5px;
}

.historyItem {
    background-color: grey;
    margin: 5px 0px;
    text-decoration: solid;
}

.btn-group {
    display: flex;
    flex-direction: column;
}

.btn-danger {
    margin-top: 5px;
}

/* This is just used to make a line between the search button and the history buttons. */
.spacer {
    background-color: grey;
    font-size: 2px;
    color: grey;
}

/* Here we set the stlying for our second flex box items */
.todayWeather {
    padding: 10px;
    border-style: solid;
    max-width: 76%;
    background-color: lightgray;
}

#todayWeather h1 {
    font-weight: bold;
}

#dayCastTitle {
    margin: 5px;
    font-weight: bold;
}

#fiveCasts {
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
}

.upcomingForecast {
    border-style: solid;
    padding: 10px;
    margin: 10px;
    background-color: #090979;
    color: white;
}

/* our media querys to handle when the page is too small and data does not fit. */
@media screen and (max-width: 1450px) {
    #fiveCasts {
        display: flex;
        flex-direction: column;
        max-width: 300px;
    }
}

@media screen and (max-width: 600px) {
    .todayWeather h1 {
        font-size: 16px;
    }
}